@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary-content: rgb(250, 249, 250);
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: var(--color-blue-500);
  --color-app-background: rgb(221, 224, 242);
  --color-app-background-dark: rgb(44, 32, 65);
}

@custom-variant dark (&:where(.dark, .dark *));
